{% extends 'parents/main.html' %}
{% load static %}

{% block meta %}
  <!-- Open Graph For Facebook Sharing  -->
  <meta property="og:url" content="{{post.get_absolute_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.content|truncatewords:20}}"/>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'post/css/read.css' %}" />
<link rel="stylesheet" href="{% static 'post/css/prism.css' %}" />
{% endblock %}

{% block jsScripts %}
  <script async src="https://static.addtoany.com/menu/page.js" defer></script>
  <script async src="{% static 'post/js/prism.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="post-body">
  <article>
    <header>
      <div class="tags">
        {% for tag in post.get_tags %}
          <span class="tag">#{{tag}}</span>
        {% endfor %}
        <span class="tag">{{post.created_at.date}}</span>
      </div>
      <h1 class="glow-text">{{ post.title }}</h1>
    </header>

    <div id="content">
      {{ post.content|safe }}
    </div>

    {% include 'fragments/useractions.html' %}

    <div class="meta-infos">
      <div class="profile-image-container">
        <img
          height="50"
          width="50"
          src="{% static 'imgs/profile.png' %}"
          alt="My profile image"
          class="profile-image"
        />
      </div>
      <div class="bio">
        <p>
          I'm <strong>NZANZU MUHAYRWA L.</strong>, a
          <strong>web developper</strong> and <strong>writer</strong> from
          Lubumbashi, DRC ! <br />
          I'm passionated by <strong>programming</strong>,
          <strong>music</strong> (especially rap),
          <strong>hip hop culture</strong>, <strong>languages</strong> ,
          <strong>weapons and guns</strong> and <strong>reading</strong>. I've
          been learning programming for around two years now and built this
          website myself (using NextJS and MongoDB). If you're interested in
          getting in touch with me, just dm me on my main social medias and I'll
          respond. And if you're interested in collaborating with me on a
          project, you got my <strong>Github</strong> here below.
        </p>
      </div>
    </div>
  </article>

  <aside>
    {% for post in more %}
    <div class="post-card" id="post-{{ post.id }}">
      <div class="content">
        <div class="tags">
          {% for tag in post.get_tags %}
            <span class="tag">#{{tag}}</span>
          {% endfor %}
          <span class="tag">{{ post.created_at.date }}</span>
        </div>

        <h2>
          <span class="title"> {{ post.title }} </span>
        </h2>

        <div class="stats-n-actions">
          <a href="{% url 'post:read' post.slug post.id %}" class="read-post">
            Read
          </a>
          <button
            class="upvote cell"
            data-upvote-url="{% url 'manager:upvote-post' post.id %}"
          >
            <span class="center icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="#000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M229.66,114.34l-96-96a8,8,0,0,0-11.32,0l-96,96A8,8,0,0,0,32,128H72v24a8,8,0,0,0,8,8h96a8,8,0,0,0,8-8V128h40a8,8,0,0,0,5.66-13.66ZM176,112a8,8,0,0,0-8,8v24H88V120a8,8,0,0,0-8-8H51.31L128,35.31,204.69,112Zm8,104a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,216Zm0-32a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,184Z"
                ></path>
              </svg>
            </span>
            <span class="label"
              >Upvote :
              <span class="count-upvotes">{{post.upvotes}}</span></span
            >
          </button>

          {% if request.user.is_superuser %}
          <a
            href="{% url 'manager:edit-post' post.id %}"
            class="circle-btn center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M201.54,54.46A104,104,0,0,0,54.46,201.54,104,104,0,0,0,201.54,54.46ZM88,206.37V176h80v30.37A88.38,88.38,0,0,1,88,206.37ZM104,144h48v16H104Zm14-16,10-48h0l10,48Zm72.22,62.23c-2,2-4.08,3.87-6.22,5.64V176a16,16,0,0,0-16-16V144a16,16,0,0,0-13.61-15.8L143.66,76.74a16,16,0,0,0-31.32,0L101.61,128.2A16,16,0,0,0,88,144v16a16,16,0,0,0-16,16v19.87c-2.14-1.77-4.22-3.64-6.22-5.64a88,88,0,1,1,124.44,0Z"
              ></path>
            </svg>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </aside>
</div>

<script>
  const elts = document.querySelectorAll(`.share-on-all`);
  elts[0].addEventListener("click",(e)=>{
      e.preventDefault();
      elts[1].click();
  })
</script>

{% endblock %}
