/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.layout-header {
    position:sticky;
    top:0;
    z-index: 2;
}

.hero {
    min-height: 40vh;
    width: 100%;
    padding: 2rem;
    color: var(--white);
    background: -webkit-gradient(linear,right top, left bottom,from(var(--yellow)),color-stop(var(--blue)),to(red));
    background: -o-linear-gradient(top right,var(--yellow),var(--blue),red);
    background: linear-gradient(to bottom left,var(--yellow),var(--blue),red);
    font-size: 1.5rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero .text-content > * {
    margin-bottom: .8rem;
}

.hero .cta {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: .5rem;
}

.cta  a {
    color: var(--white);
    text-decoration: none;
}

.hero .cta:hover .arrow {
    -webkit-animation: shake .6s ease-out infinite alternate;
            animation: shake .6s ease-out infinite alternate;
}

@-webkit-keyframes shake {
    to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.imp-b-yl {
    color: var(--yellow);
}

.imp-b-bl {
    color: var(--blue);
}

.imp-b-red {
    color: red;
}

section {
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width:100%;
    padding: 1rem 2rem;
}

section.top-bar {
    width : 100%;
    height : 30%;
}

section h1 {
    font-size: 5rem;
    text-align: center;
}

.last-posts {
    background-color: var(--black);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.last-posts .cards-container {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(3,1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap:2rem;
    padding: 1rem;
    min-height: 50vh;
}

/* MEDIA QUERIES */

@media only all and (max-width:1024px) {
    .last-posts .cards-container {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2,1fr);
    }

    .last-posts .cards-container .post-card:last-of-type {
        display:none;
    }
}

@media only all and (max-width:800px) {

    .hero {
        font-size : 1.3rem;
    }

    .hero .cta {
        font-size:.8rem;
    }

    section:not(.hero) {
        padding-inline: 1rem;
    }

    .last-posts .cards-container {
        padding: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        gap: 1rem;
    }

    .last-posts .cards-container .post-card:last-of-type {
        display:initial;
    }
}

@media only all and (max-width:375px) {
    .hero {
        font-size : 1rem;
        padding-inline: 1rem;
    }

    .hide-on-mobile {
        display: none;
    }

    .hero p {
        line-height: 1.5rem;
    }

    .hero .cta {
        font-size:.8rem;
    }

    section {
        padding:1rem;
    }

    .last-posts .cards-container {
        padding-inline: 0;
    }

    .post-card .content .card-link {
        font-size: .8rem;
    }

    .post-card .tag {
        font-size: .65rem;
    }
}