{% extends 'account/parents/accountForm.html' %}

{% block title %}
  Log In
{% endblock %}

{% block form_elt %}
   <form action="{% url 'account:login' %}" method="POST" class="card">
        {% csrf_token %}
      <h1>Reservé aux administrateurs</h1>
      {% if messages %}
        {% for message in messages %}
          <span href="bk-message">{{ message }}</span>
        {% endfor %}
      {% endif %}
      <div class="wrap-inputs">
        <label for="name">Nom utilisateur</label>
        <input type="text" name="username" id="name" />
      </div>
      <div class="wrap-inputs">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit" class="btn">Se connecter</button>
    </form>
{% endblock %}
